mixin input(props)
  //- Принимает:
  //-   props {
  //-     title: ''         {string} - текст с названием (выводится над полем)
  //-     mods: ''          {string} - модификаторы блока
  //-     helpText: ''      {string} - пояснение над полем
  //-     icon: ''          {string} - иконка 
  //-     val: ''           {string} - текст в поле
  //-     attrs:            {object} - любые атрибуты для input/textarea
  //-       type:           {string}
  //-       placeholder:    {string}
  -
    if(typeof(props) === 'undefined') {
      let props = {};
    }
    let allMods = '';
    if(typeof(props.mods) !== 'undefined' && props.mods) {
      let modsList = props.mods.split(',');
      for (let i = 0; i < modsList.length; i++) {
        allMods = allMods + ' text-input_' + modsList[i].trim();
      }
    }
  form.text-input(class=allMods)&attributes(attributes)
    .text-input__header
      if (typeof(props.title) !== 'undefined' && props.title)
        span.text-header-3.text-input__name!= props.title
      if (typeof(props.helpText) !== 'undefined' && props.helpText)
        span.text-input__help-text!= props.helpText
    .text-input__wrap
      input.text-input__input(
        type=typeof props.attrs !== "undefined" && props.attrs.type ? props.attrs.type : "text",
        value=props.val
      )&attributes(props.attrs)
      if (typeof(props.icon) !== 'undefined' && props.icon)
      span.material-icons.text-input__icon= props.icon

      block
